body {
  font-family: 'arial', 'sans-serif';
  font-size: 36px;
  background: #006B6B;
  color: orange;
  margin: 50px;
}

h1 {
  font-family: fantasy;
  color: yellow;
}

a {
  color: tomato;
  text-decoration: none;
}
